/**{
    border: 1px solid red
}*/
body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

.title {
  background: #e3f4ff;
  margin: 0px 0px 10px;
  padding: 5px
}

.content {
  background: #e3f4ff;
  padding: 16px;
  
}

.button-container {
  background: #e3f4ff;
  display: block;
  margin: 10px 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 2px auto ;
  padding: 10px 32px;
  font-weight: bold;
}